.header-top {
    display: block;
    justify-content: center;
    }
.logo {
    height: 20px;
    margin-left: 80px;
    margin-top: 20px;
}
 ul li {
    list-style-type: none;
    color: black;
}
 .menu li {
   text-align: center;
   padding: 5px;
   
}
.menu a {
    color: #555555;
   
    
}
.menu ul li:nth-child(4) {
    color: #c12686;
}

 