.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 0px;
   }
.hero img {
   width: 300px;
   align-self: flex-start;
    margin-right: -150px;
}
div h5 {
    color: #c12686;
    }
.hero-text {
    columns: 1;
    margin-left: 20px;
    width: auto;
    height: 310px;
   }