body {
    margin-left: 20px;
}
.main-text {
    display: block;
    width: 100vw;
    margin: -5px;
    height: 200px;
    padding: 20px;
    background-image: url(assets/main-backgr.svg);
    filter: sepia(20%);
    background-size: cover;
    text-align: start;
    }

.main-text h3 {
    font-size: 2em;
}
.companies {
    display: flexbox;
    width: 290px;
    flex-flow: column wrap;
    margin-bottom: 50px;
    margin-top: 50px;
       }
    .companies img {
     width: 150px; 
     padding: 20px; 
    }
    .companies img:last-child {
        display: none;
    }
.top-text {
    width: 300px;
   
    font-size: 30px;
}
.top-text p {
    font-size: 24px;
}
.cards {
    display: inline-flex;
     overflow: scroll;
}
.top-text span {
    text-decoration: underline;
}
.cards-1 {
    width: 290px;
    border-radius: 15px;
    margin-right: 50px;
    margin-bottom: 70px;
    background-color: #eee;
}
.card-bottom {
    display: flex;
    flex-flow: column wrap;
    height: 100px;
}
.card-bottom p {
   padding: 1px;
}
 .left {
    columns: 1;
}

 .right {
    display: flex;
    flex-flow: column wrap;
    padding: 0px;
    justify-content: center;
   }
.left p:first-child, .right p:first-child {
 color: #ff8139;
 font-size: smaller;
}
.right p, .left p {
    padding: 2px;
    margin: 2px;
}
.cards-1 p:nth-child(even), .cards-2 p:nth-child(even) {
    font-size: 20px;    
}
    .green-w {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        column-gap: 20px;
        border-top: 1px solid rgb(190, 192, 194);
        border-bottom: 1px solid rgb(190, 192, 194);
    }
    .green-w section {
        align-self: stretch;
        padding-bottom: 10px;
    }
    .green-w img {
        columns: 2;
        height: 400px;
        place-self: end right;
        padding-top: 70px;
    }
    .btn {
        border: 2px solid #c12686;
        background-color: white;
        width: 100px;
        height: 40px;
        text-align: center;
        border-radius: 30px;
        columns: 1;
        justify-self: start;
        margin-left: 20px;
    } 